GOOGLE_CLOUD_PROJECT_ID=seu-id-do-projeto-google-cloud
BIGQUERY_DATASET=pcj_monitoramento
BIGQUERY_TABLE_OCORRENCIAS=ocorrencias
GOOGLE_APPLICATION_CREDENTIALS=caminho/para/sua-chave-service-account.json